main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: bisque;
  margin-top: 40px;
  background-image: url(../images/wood-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

main .welcome-main-text h1 {
  font-size: 26px;
  line-height: 160px;
  text-align: center;
  display: block;
  background-color: white;
  box-shadow: 1px;
  border-radius: 10px;
}

main p {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}

h3 {
  font-size: 18px;
}

/** Catetory Section 

index-p-category = Personal Blogs 
index-t-category = Tech Blogs 


**/
.index-p-category {
  width: 100%;
  padding: 60px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
}

.index-t-category {
  width: 100%;
  padding: 60px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  border-radius: 12px;
}

.index-p-category {
  width: 100%;
  padding: 60px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  border-radius: 12px;
}

.index-t-category p {
  color: #111;
  text-align: center;
  padding-bottom: 40px;
  flex-basis: 100%;
  font-size: 30px;
  text-transform: uppercase;
}

.index-p-category p {
  color: #111;
  text-align: center;
  padding-bottom: 40px;
  flex-basis: 100%;
  font-size: 25px;
  text-transform: uppercase;
}

.index-p-blog-box {
  width: 150px;
  height: 150px;
  background-color: red;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index-t-blog-box {
  width: 150px;
  height: 150px;
  background-color: red;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/**  Personal Blog Images   **/

.index-p-blog-box:nth-child(2) {
  background-image: url(../images/Te-houtaewa-image.jpeg);
}

.index-p-blog-box:nth-child(3) {
  background-image: url(../images/orange-background.jpg);
}

.index-p-blog-box:nth-child(4) {
  background-image: url(../images/pexels-irina-iriser-1086585.jpg);
}

.index-p-blog-box:nth-child(5) {
  background-image: url(../images/problem-solving-blog.jpg);
}

.index-p-blog-box:nth-child(6) {
  background-image: url(../images/growthandnero.jpg);
}

.index-p-blog-box:nth-child(7) {
  background-image: url(../images/te-whare-tapa-wha-purple-large-medium.jpg);
}

/** Tech Blog Images  **/

.index-t-blog-box:nth-child(2) {
  background-image: url(../images/tech-blog.jpg);
}

.index-t-blog-box:nth-child(3) {
  background-image: url(../images/java-dom.jpg);
}

.index-t-blog-box:nth-child(4) {
  background-image: url(../images/orange-background.jpg);
}

.dark-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

.index-p-blog-box:hover .dark-hover {
  opacity: 0;
}

.index-t-blog-box:hover .dark-hover {
  opacity: 0;
}

.index-p-blog-box h3 {
  font-size: 21px;
  line-height: 24px;
  color: white;
  text-align: center;
  text-shadow: 0px -4px 0px #000;
  z-index: 100;
}

.index-t-blog-box h3 {
  font-size: 21px;
  line-height: 24px;
  color: white;
  text-align: center;
  text-shadow: 0px -4px 0px #000;
  z-index: 100;
}

/** About me Section **/
.index-about {
  width: 100%;
  padding: 50px 0;
  background-color: var(--site-color-01);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-about-image {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.index-about-image img {
  border-radius: 50%;
}

.index-about-text {
  margin-top: 5px;
}
.index-about-text h2 {
  margin-top: 5px;
  padding-top: 5px;
}
.index-about-text p {
  margin-top: 5px;
  padding-top: 5px;
}

.white-space {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  display: block;
  background-color: var(--site-color-01);
}

@media (max-width: 320px) {
  main .welcome-main-text h1 {
    font-size: 10px;
    box-shadow: 1px;
  }

  .index-blog-box {
    width: 80px;
    height: 80px;
  }

  .index-blog-box h3 {
    font-size: 12px;
    line-height: 18px;
  }

  .index-about-image {
    width: 120px;
    height: 120 px;
    margin-bottom: 5px;
  }

  .index-about-text {
    margin-top: 1px;
  }

  .index-about-text h2 {
    padding: 0px 5px 0px 5px;
  }
  .index-about-text p {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .index-blog-box {
    width: 90px;
    height: 90px;
  }

  .index-blog-box h3 {
    font-size: 14px;
    line-height: 18px;
  }

  main .welcome-main-text h1 {
    font-size: 19px;
    line-height: 140px;
    box-shadow: 1px;
    width: 100%;
  }

  .index-blog-box {
    width: 80px;
    height: 80px;
  }

  .index-blog-box h3 {
    font-size: 12px;
    line-height: 18px;
  }

  .index-about-image {
    width: 120px;
    height: 120px;
  }

  .index-about-text {
    margin-top: 1px;
  }

  .index-about-text h2 {
    padding: 0px 5px 0px 5px;
  }
  .index-about-text p {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .index-blog-box {
    width: 180px;
    height: 180px;
  }

  .index-blog-box h3 {
    font-size: 16px;
    line-height: 20px;
  }

  main .welcome-main-text h1 {
    font-size: 20px;
    line-height: 160px;
    box-shadow: 1px;
    width: 100%;
  }

  .index-blog-box {
    width: 80px;
    height: 80px;
  }

  .index-blog-box h3 {
    font-size: 12px;
    line-height: 18px;
  }

  .index-about-image {
    width: 120px;
    height: 120px;
  }

  .index-about-text {
    margin-top: 1px;
  }

  .index-about-text h2 {
    padding: 0px 5px 0px 5px;
  }
  .index-about-text p {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .index-about-image {
    width: 180px;
    height: 180px;
  }

  .index-about-text h2 {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .index-about-text {
    font-size: 30px;
  }
}
